<%- include('../includes/head.ejs') %>
</head>

<body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if (products.length > 0) { %>
                <ul>
                        <% products.forEach(prodObj => { %>
                        <li>
                                <p><%= prodObj.title %>(<%= prodObj.cartItem.quantity %>)</p>
                                <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" value="<%= prodObj.id %>" name="productId">
                                        <button class='btn' type='submit'>Delete</button>
                                </form>
                        </li>
                        <% }) %>
                </ul>
                <div class="centered">
                        <form action="/create-order" method="POST">
                                <button type="submit" class="btn">Order</button>
                        </form>
                </div>
                <% } else { %>
                <h2>No products in Cart</h2>
                <% } %>
        </main>
        <%- include('../includes/end.ejs') %>